* { margin:0; padding:0;}
img, a img { border:none; }
a { color:#29abe2; text-decoration:underline; }
a:hover { color:#2e3192; }
p { margin:0 0 15px; line-height:1.5em; }
h1,h2,h3,h4 { font-family:Helvetica, Arial, sans-serif; letter-spacing:-.05em; font-weight:normal; }

.hide { display:none; }

body { font-family:Helvetica, Arial, sans-serif; color:#333; font-size:75%; background:#fff; }

#body { background:transparent; }
#wrap { width:980px; margin:0 auto; position:relative;}
#header { width:980px; height:auto; position:relative; background:transparent; }
#container { width:980px; min-height:700px; padding:0; margin:0; background:#fff; position:relative; -moz-box-shadow:#999 0 0 4px; -webkit-box-shadow:#999 0 0 4px; box-shadow:#999 0 0 4px; border-radius: 10px; -webkit-border-radius: 10px; }
#footer { width:980px; position:relative; }

/*hide old markup*/
#pagemenu,
#container .containertop,
#container .containerinside,
#container .containerbutt { display:none; }

#wrapbg { width:609px; height:317px; position:absolute; top:0; left:-130px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/wrapbg.jpg) no-repeat; }

/*header*/
#topdrop { width:auto; float:right; background:transparent; }
#subhead { float:left; margin:14px 0 16px; }

#header * { line-height:1em; }
#header a { text-decoration:none; }

#header .part { padding:6px 12px 7px; display:block; float:left; border-left:1px solid #0071bc; position:relative; }
	#header .part.noborder { border:none; }
	#header .part.title { width:30px; padding-top:9px; border:none; }
	
#header .label { margin:0 0 2px; font-size:8px; text-transform:uppercase; color:#91B8E2; letter-spacing:.05em; }
#header .data { font-size:12px; color:#ccc; }
	
	/*header - topdrop*/
.btn.toplogout { margin:5px -12px 0 0; float:left; position:relative; }
#toptoday { width:553px; height:auto; min-height:48px; margin:0 10px 0 0; float:left; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/toptoday.png) no-repeat;}
#topsearch { width:221px; height:35px; float:left; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/topsearch.png) no-repeat; }

		/*header - topdrop - toptoday*/
#toptoday .part.title { padding-top:14px; margin:0 0 0 21px; }		
#toptoday .part.title .label { color:#1B1464; }
#toptoday .part.prominent .label { color:#BFDEFF; }
#toptoday .part.prominent .data { color:#fff; }

			/*header - topdrop - toptoday - topverify*/
#topverify { width:487px; height:auto; min-height:43px; margin:-35px 0 0; float:right; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/topverify.png) no-repeat; position:relative; }
	#topverify a.btn.topverify { float:right; }
	#topverifybutt { width:487px; height:33px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/topverifybutt.png) no-repeat; position:relative; }
	
		#topverifybutt .part { padding:5px 5px; border-color:#C1272D; }
		#topverifybutt .part.title { width:35px; margin:0 9px 0 23px; padding:5px 0 0; }
			#topverifybutt .title .label { color:#333; text-align:right; }
			
			#topverifybutt .part .data { color:#fff; font-size:10px;}
			
		#topverifybutt .btn.topverify_clickhere { position:absolute; top:5px; right:-18px; }
		
		/*header - topdrop - topsearch*/
#topsearch .title { padding-left:7px; }
#topsearch .title .label { color:#333; }
#topsearch form { float:left; }
#topsearch input.formtxt { width:130px; padding:5px; margin:5px 0 0 7px; float:left; font-size:10px; color:#b2b2b2; font-family:Helvetica, Arial, sans-serif; border:none; background:transparent; box-shadow:none; }
        #topsearch input.formtxt:focus { color:#fff; }
#topsearch input.btn { margin:12px 0 0 5px; float:left; }

	/*header - subhead*/
#subhead a.btn.headlogo { margin:-14px 20px 0 -20px; float:left; }
#subhead a.subheadfeat { height:44px; margin:0 10px 0 0; float:left; background:#fff; border:1px solid #ccc; overflow:hidden;
		-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
        #subhead a.subheadfeat:hover { background:#f9f9f9; border-color:#e1e1e1; }

	#subhead a.subheadfeat.network { background:#FFFFB8; border:1px solid #B3B3B3; }
                	#subhead a.subheadfeat.network:hover { background:#FFE87A; }
	
	#subhead .subheadfeat .part { border-color:#E6E6E6; }
		#subhead .subheadfeat .title { width:80px; height:100%; padding:14px 0 0 10px; margin:0 9px 0 0; background:#b3b3b3; position:relative; }
                #subhead .subheadfeat .title .bg { width:10px; height:58px; position:absolute; top:-8px; right:-9px; display:block; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/subheadfeat_title.png) no-repeat; }
			#subhead .subheadfeat.network .title { width:86px; height:42px; padding:19px 0 0 22px; margin:-6px 0 0 -13px; color:#fff !important; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/subheadfeat_title_network.png) no-repeat;}

			#subhead .subheadfeat .title .label { color:#fff; font-size:.75em; }
			#subhead .subheadfeat .title .label strong { color:#fff; }

			#subhead .subheadfeat.network .title .label {}
			#subhead .subheadfeat.network .title .label strong {}
			
		#subhead .subheadfeat .part .data { color:#333; }
			#subhead .subheadfeat .part .data.txtsmall { padding:4px 2px; display:block; font-size:10px; }
			#subhead .subheadfeat .part .data.oneline { padding-top:10px; display:block; }
				#subhead .subheadfeat .part .data.oneline .txtsmall { margin:; color:#666; }
				
		#subhead .subheadfeat img { margin:5px 8px; }



/*nav*/
#nav { width:980px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/nav.gif) repeat-y; border-bottom:6px solid #ccc; position:relative; overflow:hidden;
	-moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; border-top-right-radius:10px;
	-moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; border-top-left-radius:10px; }
#nav .navtop { width:980px; height:75px; position:absolute; top:0; left:0; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/navtop.jpg) no-repeat;
	-moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; border-top-right-radius:10px;
	-moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; border-top-left-radius:10px; }

	#nav ul { list-style:none; overflow:hidden; }
	#nav ul.parent { width:950px; padding:0 15px 15px; position:relative; }
	
	#nav li.navli { padding:15px 0 0; position:relative; }
	#nav li { margin:0 7px; float:left; position:relative;}
	#nav a { text-decoration:none; }
		
	#nav .parent li.navli.active { height:50px; padding-left:8px; border-left:7px solid #29ABE2; }	
	
	#nav .parent li.navli.floatright { float:right; }
		#nav .parent li.navli.floatright.active { padding-left:0; padding-right:8px; border-left:none; border-right:7px solid #29abe2; }
		
		#nav a { display:block; }
		
		#nav .navbtn { padding:0 0 0 16px; color:#91B8E2; font-weight:bold; background-repeat:no-repeat; background-position:0 3px;  }
		#nav .navli.floatright .navbtn { color:#5E8CC2; }
		#nav .navbtn:hover,
                #nav .navli.floatright .navbtn:hover { color:#fff; background-position:0 -47px; }
		#nav .navli.active .navbtn,
		#nav .navli.floatright .navbtn.active { color:#F7B51E; background-position:0 -97px; }

		.navli.nav_networks .navbtn { padding-left:12px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_networks.png); }
		.navli.nav_tracker .navbtn { padding-left:12px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_tracker.png); }
		.navli.nav_offers .navbtn { padding-left:16px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_offers.png); }
		.navli.nav_classroom .navbtn { padding-left:20px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_classroom.png); }
		.navli.nav_apps .navbtn { background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_apps.png); }
		.navli.nav_tools .navbtn { background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_tools.png); }
		.navli.nav_dashboard .navbtn { padding-left:17px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_dashboard.png); }
		.navli.nav_help .navbtn { background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_help.png); }
		.navli.nav_account .navbtn { padding-left:13px !important; background-image:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_nav_account.png); }
		
		#nav .kids { position:absolute; top:42px; left:0; display:none; }
		#nav li.navli.floatright .kids { left:auto; right:0; }
		#nav li.navli.active .kids { display:block; }
		
		#nav .kids ul.kidgroup { width:980px; padding:5px 5px 4px 0; margin:0 0 2px; background:#3070B0; }
		#nav .navli.floatright .kids ul.kidgroup li { float:right; }

			#nav .kidgroup li.grouplabel { padding:6px 10px 7px; margin:-4px 15px -4px -4px; color:#A8C2E2; position:relative; 
					background:#4074AE; text-transform:uppercase; letter-spacing:.05em; font-size:8px;  }
			#nav .kidgroup li.grouplabel span { width:7px; height:22px; display:block; position:absolute; top:0; right:-7px;
						background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/navkidgrouplabel.png) no-repeat; }
						
			#nav .navli.floatright .kidgroup li.grouplabel { margin-left:15px; margin-right:-4px; }
			#nav .navli.floatright .kidgroup li.grouplabel span { right:auto; left:-7px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/navkidgrouplabel_right.png) no-repeat; }
						
				#nav .kidgroup li a { color:#e1e1e1; font-size:.9em; }
				#nav .kidgroup li a:hover { color:#fff; }
				#nav .kidgroup li.active a { color:#F7B51E; font-weight:bold; }
				#nav .kidgroup li a.small { color:#A8C2E2; font-size:9px; font-weight:bold; }
				#nav .kidgroup li a.small:hover { color:#fff; }




/*container - subnav*/

#subnav { padding:0 20px 8px 104px; margin:-14px 0 0; position:relative; font-size:.9em; border-top:1px solid #29abe2; border-bottom:1px solid #3070B0; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/tblue_head.jpg) no-repeat; }


/*container - pagedesc*/
#pagedesc { width:960px; position:relative; border-bottom:1px solid #e6e6e6; /*margin: -20px;*/ }
	#pagedesc .part { height:80px; min-height:80px; max-height:105px; height:auto !important; padding:15px; float:left; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/pagedescpart.jpg) no-repeat; }
	
	#pagedesc .part.one { width:75px; }
		#pagedesc .part.one img { max-width:75px; }
	#pagedesc .part.two { width:220px; }
		#pagedesc .part.two h2 { margin:0; padding:0; color:#5E8CC2; font-size:2em; line-height:1em; }
	#pagedesc .part.three { width:590px; padding-top:5px; }
		#pagedesc .part.three p { margin:10px 0 0; color:#999; font-size:; line-height:1.2em; }

/*pagedesc - sidead*/
 .sidead { width:120px; height:640px; position:absolute; top:84px; }
 .sidead.left { left:-121px; }
 .sidead.right { right:-121px; }

/*container - content*/
#content { margin:10px; position:relative; }

/*footer*/
#footer { font-size:.9em; }
#footer ul.footlist { list-style:none; text-align:center; } 
#footer li { margin:0 10px 0 0; display:inline; }
#footer p { color:#b3b3b3; text-align:center; }
#footer a { text-decoration:none; }
#footer a:hover { text-decoration:underline; }

/*btns*/
input.btn { border:none; font-size:0px; line-height:0px; cursor:pointer; }
.btn:hover { background-position:left bottom !important; }

.btn.toplogout { width:70px; height:18px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_toplogout.png) no-repeat; }
.btn.topverify { width:109px; height:36px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_topverify.png) no-repeat; }
.btn.topverify_clickhere { width:121px; height:24px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_topverify_clickhere.png) no-repeat; }
.btn.topsearch_formsubmit { width:14px; height:13px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_topsearch_formsubmit.png) no-repeat; }
.btn.headlogo { width:228px; height:72px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/btn_headlogo.png) no-repeat; }

/*icons*/
.icon.checksharp_white { width:18px; height:19px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/icon_checksharp_white.png) no-repeat; }

/*ticons*/
.ticon.checksharp_white { padding-left:20px; background:url(https://s3.amazonaws.com/bevomedia-media/public/images/header/icon_checksharp_white.png) no-repeat; }

/*z*/
#wrapbg { z-index:1; }
#header,
#container,
#footer { z-index:100; }
.btn.toplogout { z-index:1000; }
#toptoday { z-index:800; }
#toptoday .part { z-index:1000; }
#topverify,
#topverify .part { z-index:900; }

#nav ul.parent { z-index:200; }
#nav .navbg { z-index:190; }


